---
title: François Belle
---

<!-- PROFILE -->
<div class="card mx-auto col-lg-6 my-md-3">
  <div class="card-body row">
    <div class="col-12 col-md-4 text-center">
      <%= image_tag "bellef_profile.jpg", alt: "François Belle", class: "rounded-circle", style: "width: 80%;" %>
      <div class="mt-3">
        <h2>François <span class="color-ruby">Belle</span></h2>
        <h3 class="text-secondary">RoR Developer</h3>
      </div>
    </div>

    <div class="col-12 col-md-8 m-auto px-5 py-3">
      <p>
        <strong class="color-ruby">Ruby on Rails</strong> backend developer, I have experience with RESTful JSON APIs in various companies in France and Canada. I'm also a teacher at Le Wagon coding bootcamp.
      </p>
      <p>
        I like building things, learning from people better than me and sharing my experiences with others.
        By building things I obviously mean "virtual" with programming tools like Ruby, Rails, Javascript etc. but also "IRL" things with wood, nails, glue, whatever!
      </p>
      <p>
        My philosophy of coding is to <mark>build robust things with the team</mark>, <mark>learn from each others</mark> and <mark>move forward together</mark>.
      </p>
    </div>
  </div>
</div>

<!-- SIMPLICITY -->
<div class="row mx-auto col-lg-6 py-3">
  <div class="col-12 col-md-8 text-right border-right border-secondary">
    <blockquote class="blockquote mb-0">
      <p class="mb-0">
        Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.
      </p>
      <footer class="blockquote-footer">
        Antoine de Saint-Exupery
      </footer>
    </blockquote>
  </div>

  <div class="col-12 col-md-4 my-auto">
    <span class="display-4">Simplicity</span>
  </div>
</div>

<!-- COMPANIES -->
<div class="card mx-auto col-lg-6 my-md-3">
  <div class="card-body">
    <h4 class="card-title mb-0">They trust me</h4>

    <% data.companies.each do |company| %>
    <hr>
    <div class="row my-3">
      <div class="col-md-2 text-center">
        <%= link_to(image_tag(company["logo"], alt: company["name"], class: "rounded mb-3 my-md-3", style: "width: 6em;"), company["link"]) %>
      </div>
      <div class="col-md-10">
        <% company["descriptions"].each do |description| %>
        <p><%= description %></p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
