---
title: François Belle
---

<!-- PROFILE -->
<div class="card mx-auto col-lg-6 my-md-3 py-3">
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <%= image_tag "bellef_profile.jpg", alt: "François Belle", class: "img-circle full-width" %>
      <div class="mt-3">
        <h2>François Belle</h2>
        <h3>RoR Developer</h3>
      </div>
    </div>
    <div class="col-12 col-md-8 m-auto px-5 py-3">
      <p>
        <strong class="color-ruby">Ruby on Rails</strong> backend developer, I have experience with RESTful JSON APIs and SOA in various companies in France and Canada. I'm also a teacher at Le Wagon coding bootcamp.
      </p>
      <p>
        I like learning new things, handcrafts, climbing/bouldering and discovering the world!
      </p>
      <p>
        My philosophy of coding is to <mark>build robust things with the team</mark>, <mark>learn from each others</mark> and <mark>move forward together</mark>.
      </p>
    </div>
  </div>
</div>
